body {
    background-color: rgb(170, 152, 152);
}
.tituloH2 {
    font-family:cursive;
    background-color: rgb(91, 155, 134);
    text-align: center;
    text-decoration: underline;
}
.linkVermas {
    text-decoration: none;
    color: black; 
}
a :hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.estiloComida {
    background-color: rgb(95, 77, 77);
    border-radius: 40px;
    color: aliceblue;
}
.h2quienes {
    display: flex;
    justify-content: center;
}
.logoinstagram {
    width: 5vw;
}
.palabrasFoot {
    text-decoration: none;
    color: rgb(172, 183, 190);
}
h2 {
    text-align: center;
}
.textoQuienes {
    font-family:cursive;
    background-color: rgb(91, 155, 134);
    text-align: center;
}
.imgWrapCañada {
    width: 100%;
    
}
.nenaWrap {
    text-align: center;
}
.nenaWrap2 {
    width: 40%;
    padding-bottom: 4px;
}
.paltaPollo {
    height: 65vw;
}
.argento {
    height: 65vw;
}
.tartaCal {
    height: 40vw;
}
.ensaCes {
    height: 55vw;
}
